@import('https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.0/css/bootstrap.min.css') 

.funkyradio div {
  clear: both;
  overflow: hidden;
}

.funkyradio label {
  width: 100%;
  border-radius: 3px;
  border: 0px solid rgb(255, 255, 255);
  font-weight: normal;
}
.btn span.glyphicon {    			
	opacity: 0;				
}
.btn.active span.glyphicon {				
	opacity: 1;				
}
.funkyradio input[type="radio"]:empty,
.funkyradio input[type="checkbox"]:empty {
  display: none;
}

.funkyradio input[type="radio"]:empty ~ label,
.funkyradio input[type="checkbox"]:empty ~ label {
  position: relative;
  line-height: 2.5em;
  text-indent: 3.25em;
  margin-top: 0em;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.funkyradio input[type="radio"]:empty ~ label:before,
.funkyradio input[type="checkbox"]:empty ~ label:before {
  position: absolute;
  display: block;
  top: 0;
  bottom: 0;
  left: 0;
  content: '';
  width: 2.5em;
  background: #D1D3D4;
  border-radius: 3px 3px 3px 3px;
}

.funkyradio input[type="radio"]:hover:not(:checked) ~ label,
.funkyradio input[type="checkbox"]:hover:not(:checked) ~ label {
  color: rgb(185, 171, 132);
}

.funkyradio input[type="radio"]:hover:not(:checked) ~ label:before,
.funkyradio input[type="checkbox"]:hover:not(:checked) ~ label:before {
  content: '\2714';
  text-indent: .9em;
  color: #009688;
}

.funkyradio input[type="radio"]:checked ~ label,
.funkyradio input[type="checkbox"]:checked ~ label {
  color: #777;
}

.funkyradio input[type="radio"]:checked ~ label:before,
.funkyradio input[type="checkbox"]:checked ~ label:before {
  content: '\2714';
  text-indent: .9em;
  color: #333;
  background-color: #ccc;
}

.funkyradio input[type="radio"]:focus ~ label:before,
.funkyradio input[type="checkbox"]:focus ~ label:before {
  box-shadow: 0 0 0 3px #999;
}

.funkyradio-default input[type="radio"]:checked ~ label:before,
.funkyradio-default input[type="checkbox"]:checked ~ label:before {
  color: #333;
  background-color: #ccc;
}

.funkyradio-primary input[type="radio"]:checked ~ label:before,
.funkyradio-primary input[type="checkbox"]:checked ~ label:before {
  color: #fff;
  background-color: #337ab7;
}

.funkyradio-success input[type="radio"]:checked ~ label:before,
.funkyradio-success input[type="checkbox"]:checked ~ label:before {
  color: #fff;
  background-color:#009688;
}

.funkyradio-danger input[type="radio"]:checked ~ label:before,
.funkyradio-danger input[type="checkbox"]:checked ~ label:before {
  color: #fff;
  background-color: #d9534f;
}

.funkyradio-warning input[type="radio"]:checked ~ label:before,
.funkyradio-warning input[type="checkbox"]:checked ~ label:before {
  color: #fff;
  background-color: #009688;
}

.funkyradio-info input[type="radio"]:checked ~ label:before,
.funkyradio-info input[type="checkbox"]:checked ~ label:before {
  color: #fff;
  background-color: #5bc0de;
}

.pagination {
    display: inline-block;
}


.pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
}

.pagination a.active {
    border-radius: 4px;
     background-color: #009688;
    color: white;
}

.pagination a:hover:not(.active) {background-color: #ddd;}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}
.purple-border textarea {
  border: 1px solid #ba68c8;
}
.purple-border .form-control:focus {
  border: 1px solid #ba68c8;
  box-shadow: 0 0 0 0.2rem rgba(186, 104, 200, .25);
}

.green-border-focus .form-control:focus {
  border: 1px solid #009688;
  box-shadow: 0 0 0 0.2rem rgba(183, 195, 74, 0.25);
}
.textarea {
  resize: none;
}
.right{display:block; width:x; height:y; text-align:right;
  padding: 8px 0px;}

.banner-info-w3ls-agileinfo {
  text-align: center;
}

.banner-info-w3ls-agileinfo a {
	color: #fff;
	text-decoration: none;
	padding: 6px 20px;
	letter-spacing: 1px;
	font-size: 14px;
	margin: 1em 1em 0 0em;
	background: rgb(0, 167, 142);
	display: inline-block;
	border: 2px solid transparent;
	font-weight: bold;
}

.banner-info-w3ls-agileinfo a:hover {
	color: #00a78e;
	background: rgb(54, 54, 54);
}

.banner-info-w3ls-agileinfo h3 {
	font-size: 5em;
	letter-spacing: 1px;
	text-shadow: 0 2px 12px rgba(0, 0, 0, 0.42);
	margin-bottom: 0.2em;
	color: #fff;
}

.banner-info-w3ls-agileinfo p {
	font-size: 1em;
	color: #fff;
	margin: 1.5em 0;
	letter-spacing: 6px;
}

.banner-info-w3ls-agileinfo i {
	color: #fff;
}